<div class="header">
    <div class="inner-div-header">
        <div class="left">
            <span id="home">Home</span>
            <span id="complaints">My Complaints</span>
        </div>
        <div class="right">
            <!-- <div class="notification-btn" id="notification-btn">
                <div style="background-color: red; width: 20px; height: 20px; border-radius: 50%; position: fixed; margin-right: -20px; margin-top: -20px;" id="notify">+1</div>
                <img src="/icons/noti-icon-notactive-white.png" alt="profile" height="25px" width="24px">
            </div> -->
            <div class="profile-div">
                <div class="profile-btn" id="profile-btn">
                    <img src="/icons/profile-icon.png" alt="notification" height="25px" width="24px">
                </div>
                <h4 class="<%= userId %>" id="username"><%= username %></h4>
            </div>
            <div>
                <a id="logout" href="/logout" style="background-color:#642b59; color: white; border: none; padding: 8px; border-radius: 5px; text-decoration: none;">Logout</a>
            </div>
        </div>
    </div>
</div>